* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: black;
  display: flex;
  flex-direction: column;
height: 150vh;
justify-content: center;
gap: 15px;
}
.content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 30px;
}
.content2 {
  display: flex;
  background: white;
  color: black;
  width: 90%; 
  
  align-items: center;
  justify-content: center;
}


.content2 h1 {
  display: flex;
  padding: 15px;
  font-weight: 400;
}
.image {
  display: flex;
  width: 80%;
  justify-content: baseline;
  align-items: baseline;
}
.image img {
 display: flex;
  width: 100%;
  justify-content: baseline;
  align-items: baseline;
}
.biography {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
  width: 50%;
}
.biography h1 p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  width: 40%;
}